<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0.0"
	package="dt.processor.kbta" android:sharedUserId="dt.agent.suid">
	<application android:icon="@drawable/icon" android:label="KBTA">
		<activity android:name=".settings.SettingsScreen"
			android:label="KBTA"			
			android:launchMode="singleTop">
			<intent-filter>
				<action	android:name="dt.processor.kbta.action.SETTINGS_SCREEN" />
				<category android:name="dt.agent.category.PROCESSOR" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:name="KBTAProcessorService">
			<intent-filter>
				<action
					android:name="dt.processor.kbta.action.PROCESSOR_SERVICE">
				</action>
				<category android:name="dt.agent.category.PROCESSOR"></category>
			</intent-filter>
		</service>

		<meta-data android:name="is_processor" android:value="true" />
		<meta-data android:name="processor_info"
			android:resource="@xml/processor_info" />
	</application>

</manifest>
